@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w aplikacji Rejestr Ludzików Zaginionych</h1>
    <p>Ta aplikacja służy do gromadzenia oraz przeglądania informacji o zgubionych ludkach.</p>
    <h1 class="display-4">Kontakt:</h1>
    <p>
        <span>telefon komórkowy:</span>
        <span>123 456 789</span>
    </p>
</div>
